<!--<div class="container text-dark">-->
  <!--<div class="row" style="margin-top: 10px">-->
    <!--<h1 class="col-6">History</h1>-->
    <!--<div class="col-6">-->
      <!--<nav class="nav nav-pills pull-right">-->
        <!--&lt;!&ndash;<li class="nav-item">&ndash;&gt;-->
        <!--<button *ngFor="let node of nodes; let i = index" (click)="changeCurrentNode(i)"-->
                <!--[ngClass]="{-->
            <!--'btn btn-primary nav-item nav-link active '   : node.name === currentNode.name,-->
            <!--'btn btn-secondary nav-item nav-link' : node.name !== currentNode.name }">{{node.name}}</button>-->
      <!--</nav>-->
    <!--</div>-->
  <!--</div>-->
<div class="search-results"
     infiniteScroll
     [infiniteScrollDistance]="1"
     [infiniteScrollThrottle]="300"
     (scrolled)="onScroll()"
      [scrollWindow]="false">
  <div class="container content main-body bg-primary text-white">

    <div class="row text-center">
      <div class="col-md-5 text-left">Process
      </div>
      <div class="col-md-1">Start Time
      </div>
      <div class="col-md-1">Stop Time
      </div>
      <div class="col-md-3">Execution Url
      </div>
      <div class="col-md-2">Result
      </div>
    </div>
    <app-add-process-hist *ngFor="let processHist of history" [processHist]="processHist"></app-add-process-hist>
  </div>
</div>
